[submodule "server/cookbooks/mysql"]
	path = server/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "server/cookbooks/nginx"]
	path = server/cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx.git
[submodule "server/cookbooks/php"]
	path = server/cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
